adium-theme-ubuntu==0.3.4
beautifulsoup4==4.4.1
chardet==2.3.0
Django==1.8.7
GDAL==2.1.0
gunicorn==19.7.1
heatmap==2.2.1
html5lib==0.999
lxml==3.5.0
meld3==1.0.2
numpy==1.11.0
Pillow==5.0.0
psycopg2==2.6.1
pycurl==7.43.0
pyliblzma==0.5.3
pysqlite==1.0.1
pytz==2014.10
rpm-python==4.12.0.1
six==1.10.0
sqlparse==0.1.18
supervisor==3.2.0
unity-lens-photos==1.0
urlgrabber==3.9.1
virtualenv==15.1.0
yum-metadata-parser==1.1.4
