{% load staticfiles %}
<!DOCTYPE html>
<html lang="es" class="">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ACCIONA - Data Analytics System for Water Desalinization Plants</title>	

        <meta name="viewport" content="width=device-width, initial-scale=0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="{% static 'css/bootstrap-modal.css' %}">
        
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <style type="text/css">.fancybox-margin{margin-right:17px;}</style>

    </head>
    <body class="noTouchDevice min1281 min1024 min768 min861 min480 resolved" style="">

        <header class="header">
            <div class="header-top">
                <div class="container clearfix no-mobile-margin">
                    <div class="ibex-style" title="" style="font-family: 'Bliss';">DATA ANALYTICS SYSTEM FOR WATER DESALINATION PLANTS</div>
                </div>
            </div>

            <div class="header-bottom">

                <div class="container logo-container clearfix relative">			
                    <a href="https://www.acciona.com" class="logo">
                        <img src="{% static 'images/acciona_logo.jpg' %}" alt="Acciona logo"><span>ACCIONA</span>
                    </a>
                    <div class="secondary-menu hide-on-hand-devices" style="font-family: 'Bliss';">
                        <ul>                    
                            <li>User: Artelnics</li>
                        </ul>
                    </div>
                </div>
                <div class="container menu-container no-mobile-margin" style="font-family: 'Bliss';">
                    <nav>
                        <ul class="clearfix primary-menu">
                            <li><a href="#Settings">Settings</a></li>							
                            <li><a href="#PlantAnalytics">Plant analytics</a></li>							
                            <li><a href="#SatelliteAnalytics">Satellite analytics</a></li>							
                            <li><a href="#PredictiveAnalytics">Predictive analytics</a></li>								
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Navigation on hand devices -->
            <nav class="contextual-menu">
                <div class="container no-mobile-margin" style="font-family: 'Bliss';">
                    <ul>
                        <li><a href="#Settings">Settings</a></li>							
                        <li><a href="#PlantAnalytics">Plant analytics</a></li>							
                        <li><a href="#SatelliteAnalytics">Satellite analytics</a></li>							
                        <li><a href="#PredictiveAnalytics">Predictive analytics</a></li>											
                    </ul>
                </div>
            </nav>
        </header>
        <!--includes content of top Slider (_includes/_modules/_general/slider-top.shtml) -->
        <section class="featured-bussiness-lines"  id="Settings"  style="backgrounpadding-bottom:1em; backgrounpadding-top:1em;">
            <h2 class="primary-level-heading" id="title-name-plant-user">Settings {{ namePlant }}</h2>
            <div class="container clearfix bussiness-lines-module-inner">
                <div class="business-lines-wrapper">
                    <div class="business-lines-inner">
                        <div class="business-lines-second-lines">	
                            <div class="business-lines-second-lines-inner">
                                <div style="text-align:left;" id="button-settings-user">
                                    <h6 class="setting-text" style="font-family: 'Bliss';">Plant: Ras Abu Fontas</h6>   
                                </div>
                                <div id="div-date-map-user" style="text-align:right;">
                                    <h6  id="enter-date" class="setting-text" style="font-family: 'Bliss';">Enter date: </h6>
                                    <div class="container" id="start-container-map-user" style="letter-spacing: 0.075em;">
                                        <div class="row">
                                            <div class='col-sm-6'>
                                                <div class="form-group">
                                                    <div class='input-group date' id='map-time-map-picker' style="width: 150px;">
                                                        <input type='text' name="date" class="form-control" id="date-map-user"/>
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>						
                            </div>
                        </div>	
                        <div class="business-lines-second-lines img-plant">
                            <img src="{% static 'images/raf.jpg' %}" style="padding-bottom: 25px; width: 70%;">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!--Plant Analytics-->	
        <section class="featured-bussiness-lines section-color" id="PlantAnalytics">
            <h2 class="primary-level-heading">Plant analytics</h2>
            <div class="container clearfix bussiness-lines-module-inner">
                <div class="container" style="font-size:0.875em;padding-bottom:25px;">	  
                    <h6 class="setting-text" style="font-family: 'Bliss';">Select variable:</h6>
                    <div class="btn-group" class="container" id="div-button-endogenous-user">
                        <button id="table-button-endogenous-all-user" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"  style="font-family: Bliss; background-color: white;">{{ endogenousVariables.0 }} <span class="caret"></span></button>
                        <div class="dropdown-menu setting-text">
                            {% for d in endogenousVariablesAll %}
                            <li><button class="button-list-user" name="endogenousVariablesAll" value="{{ d }}" onclick="drawGraphAll(value);" style="background-color: white;">{{ d }}</button></li>
                            {% endfor %}
                        </div>
                    </div>							
                </div>	
                <div class="business-lines-wrapper">
                    <div class="business-lines-inner">
                        <div class="business-lines-second-lines">
                            <h2 id="records-user" class="business-lines-line-title" style="font-family: 'Bliss'; font-size: 20px;">{{ endogenousVariables.0 }} records</h2>
                            <div class="business-lines-second-lines-inner">
                                <div class="business-lines-second-lines-row">
                                    <div id="graph-all-user" class="container setting-text chart"></div>
                                </div>
                            </div>
                        </div>
                        <div class="business-lines-second-lines">
                            <h2 class="business-lines-line-title" style="font-family: 'Bliss'; padding-top: 80px; font-size: 20px;">Endogenous variables</h2>
                            <div class="table-container">        
                                <table id="table-prediction-user" class="table table-text">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>{{ endogenousheadTable.0 }}</th>
                                            <th>{{ endogenousheadTable.1 }}</th>
                                            <th>{{ endogenousheadTable.2 }}</th>
                                            <th id="endogenousDateTable">{{ endogenousheadTable.3 }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for f in endogenousVariablesTable %}
                                            <tr>
                                                <td>{{ f.0 }}</td>
                                                <td style="text-align: right;">{{ f.1 }}</td>
                                                <td style="text-align: right;">{{ f.2 }}</td>
                                                <td style="text-align: right;">{{ f.3 }}</td>
                                                <td id="endogenousDataTable{{ f.5 }}" style="text-align: right;">{{ f.4 }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="footer-top"style="background-color:#f1f1f1;">
                        <div class="container">
                            <div class="pdd" >
                                <ul>
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <li><button type="submit" name="plant" value="plant" style="background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none; font-family: 'Bliss'; ">More information&nbsp;&#10097;</button></li>   
                                    </form>
                                    <li><button id="button-download-endogenous-user" onclick="download('endogenous')" style="background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none; font-family: 'Bliss';">Download <span class="glyphicon glyphicon-download-alt" aria-hidden="true" style="text-align: right;"></span></button></li>                      
                                </ul>
                            </div>
                        </div>
                    </div>	
                </footer>    
            </div>
        </section>
    <!-- Satellite analytics -->
        <section class="featured-bussiness-lines" id="SatelliteAnalytics">
            <h2 class="primary-level-heading" style="font-family: 'Bliss';">Satellite analytics</h2>
            <div class="container clearfix bussiness-lines-module-inner">
                <div class="container" style="font-size:0.875em;padding-bottom:25px;">	  
                    <h6 class="setting-text" style="font-family: 'Bliss';">Select variable:	 </h6> 
                    <div class="dropdown" id="div-button-exogenous-user" style="padding-bottom:25px;">
                        <button id="table-button-exogenous-user" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"  style="font-family: Bliss; background-color: white;">{{ exogenousVariablesSend.0 }} <span class="caret"></span></button>
                        <div class="dropdown-menu" style="font-family: Bliss; font-weight: bold; color: #232323;">
                            {% for b in exogenousVariablesSend %}
                            <li><button id="button-exogenous-user" class="button-list-user" name="exogenousVariables"  value="{{ b }}" onclick="drawMap(value);" style="background-color: white;">{{ b }}</button></li>
                            {% endfor %}
                        </div>
                    </div>						
                </div>	
                <div class="business-lines-wrapper">
                    <div class="business-lines-inner">
                        <div class="business-lines-second-lines">
                            <h2 class="business-lines-line-title" id="title-map-user-acciona"  style="font-family: 'Bliss'; font-size: 20px;"></h2>
                            <div class="business-lines-second-lines-inner">
                                <div class="business-lines-second-lines-row">
                                    <div id="div-map-user">
                                        <div id="div-map-legend-user">
                                            <div id="map-user" class="container setting-text"></div>
                                            <div id="div-legend-user">
                                                <h6 id="legend-end-user" class="setting-text"></h6>
                                                <div id="legend-user">
                                                    <div id="legendGradient-user"></div>
                                                </div>
                                                <h6 id="legend-ini-user" class="setting-text"></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="business-lines-second-lines">
                            <h2 id="exogenous-date-user" class="business-lines-line-title" style="font-family: 'Bliss'; padding-top: 80px; font-size: 20px;">Exogenous variables {{ namePlant }} {{ date }}</h2>
                            <div class="table-container">        
                                <table id="table-data-exogenous" class="table table-text">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>{{ exogenousHeadTable.0 }}</th>
                                            <th>{{ exogenousHeadTable.1 }}</th>
                                            <th>{{ exogenousHeadTable.2 }}</th>
                                            <th>{{ exogenousHeadTable.3 }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for c in exogenousVariablesTable %}
                                            <tr>
                                                <th>{{ c.0 }}</th>
                                                <td id="p1{{ c.5 }}" style="text-align: right;">{{ c.1 }}</td>
                                                <td id="p2{{ c.5 }}" style="text-align: right;">{{ c.2 }}</td>
                                                <td id="p3{{ c.5 }}" style="text-align: right;">{{ c.3 }}</td>
                                                <td id="p4{{ c.5 }}" style="text-align: right;">{{ c.4 }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                           </div>
                        </div>
                    </div>
                </div>
                <div style="font-size:0.875em;padding-top:25px;">
                    <h4 id="information-map-user"></h4>
                </div>
                <footer class="footer">
                    <div class="footer-top"style="background-color:white">
                        <div class="container">
                            <div class="pdd" >
                                <ul>
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <li><button type="submit" name="satellite" value="satellite" style="background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none; font-family: 'Bliss';">More information&nbsp;&#10097;</button></li>     
                                    </form>                        
                                    <li><button id="button-download-exogenous-user" onclick="download('exogenous')" style="background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none; font-family: 'Bliss';">Download <span class="glyphicon glyphicon-download-alt" aria-hidden="true" style="text-align: right;"></span></button></li>                    
                                </ul>
                            </div>
                        </div>
                    </div>	
                </footer> 
            </div>
        </section>
    <!-- Predictive analytics -->
        <section class="featured-bussiness-lines section-color"  id="PredictiveAnalytics">
            <h2 class="primary-level-heading" style="font-family: 'Bliss';">Predictive analytics</h2>
            <div class="container clearfix bussiness-lines-module-inner">
                <div class="container" style="font-size:0.875em;padding-bottom:25px;">
                    <h6 class="setting-text" style="font-family: 'Bliss';">Select variable: </h6>
                    <div class="btn-group" class="container" id="div-button-endogenous-user">
                        <button id="table-button-endogenous-user" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="font-family: Bliss; background-color: white;">{{ endogenousVariables.0 }} <span class="caret"></span></button>
                        <div class="dropdown-menu">
                            {% for j in endogenousVariables %}
                                <li><button class="button-list-user" name="endogenousVariables" value="{{ j }}" onclick="drawGraph(value);" style="background-color: white;">{{ j }}</button></li>
                            {% endfor %}
                        </div>	
                    </div>
                </div>	
                <div class="business-lines-wrapper">
                    <div class="business-lines-inner">
                        <div class="business-lines-second-lines">
                            <h2 id="predictive-user" class="business-lines-line-title" style="font-family: 'Bliss'; font-size: 20px;">{{ endogenousVariables.0 }} {{ date }}</h2>
                            <div class="business-lines-second-lines-inner">
                                <div class="business-lines-second-lines-row">
                                    <div id="graph-user" class="container setting-text chart"></div>
                                </div>
                            </div>
                        </div>
                        <div class="business-lines-second-lines">
                            <h2 id="endogenous-prediction-user" class="business-lines-line-title" style="font-family: 'Bliss'; padding-top: 80px; font-size: 20px;">Endogenous variables predictions {{ date }}</h2>
                            <div class="table-container">        
                                <!--<table id="table-prediction-user" class="table table-text">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th id="tablePrediction1">{{ datePrediction.0 }}</th>
                                            <th id="tablePrediction2">{{ datePrediction.1 }}</th>
                                            <th id="tablePrediction3">{{ datePrediction.2 }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for h in predictionVariables %}
                                            <tr>
                                                <td>{{ h.0 }}</td>
                                                <td id="1{{ h.0 }}" style="text-align: right;">{{ h.1 }}</td>
                                                <td id="2{{ h.0 }}" style="text-align: right;">{{ h.2 }}</td>
                                                <td id="3{{ h.0 }}" style="text-align: right;">{{ h.3 }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>-->
                           </div>
                        </div>
                    </div>
                </div>
                <div style="font-size:0.875em;padding-top:25px;">
                    <h4 id="information-graph-user" style="font-family: Bliss;"></h4>
                </div>
                <footer class="footer">
                    <div class="footer-top"style="background-color:#f1f1f1;">
                        <div class="container">
                            <div class="pdd" >
                                <ul>
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <li><button type="submit" name="predictive" value="predictive" style="background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none; font-family: 'Bliss';">More information&nbsp;&#10097;</button></li>    
                                    </form>                        
                                    <li><button id="button-download-prediction-user" onclick="download('prediction')" style="background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none; font-family: 'Bliss';">Download <span class="glyphicon glyphicon-download-alt" aria-hidden="true" style="text-align: right;"></span></button></li>                        
                                </ul>
                            </div>
                        </div>
                    </div>	
                </footer>    
            </div>
        </section>
        <footer class="footer">
            <div class="footer-top"style="background-color:gray">
                <div class="container">
                    <div class="pdd" style="font-family: 'Bliss';">
                        <ul>
                            <li><a href="#Settings" style="color:white">Settings</a></li>                        
                            <li><a href="#PlantAnalytics" style="color:white">Plant analytics</a></li>                        
                            <li><a href="#SatelliteAnalytics" style="color:white">Satellite analytics</a></li>
                            <li><a href="#PredictiveAnalytics" style="color:white">Predictive analytics</a></li>
                        </ul>
                    </div>
                </div>
            </div><!--/.footer-top-->
            <a href="#top" class="go-top">Go to top<i class="icon-flecha-arriba"></i></a>
            <div class="footer-bottom">
                <div class="container">
                    <center>Developed by</center>
                    <a href="https://www.artelnics.com" class="logo"><img src="{% static 'images/artelnics_logo.png' %}" alt="This is the alt"><span>ACCIONA - Oficial</span></a>
                </div>
            </div>
        </footer>    
        <!--/#general-->

        <meta property="fb:admins" content="681056456">
        <meta name="apple-itunes-app" content="app-id=716679245, affiliate-data=1000l3gT&amp;ct=SmartBannerWeb">
        <img src="{% static 'images/l' %}" width="1" height="1" border="0" alt="" style="display: none;">
        <div id="stcpDiv" style="position: absolute; top: -1999px; left: -1988px;">ShareThis Copy and Paste</div>
        <div id="stOverlay" onclick="javascript:stWidget.closeWidget();"></div>
        <link href="{% static 'css/css.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css" rel="stylesheet"/>
        <link href="{% static 'css/fileinput.css' %}" media="all" rel="stylesheet" type="text/css"/>
        <link href="{% static 'css/theme.css' %}" media="all" rel="stylesheet" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="{% static 'js/DjangoAjax.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js" type="text/javascript"></script>
        <script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="{% static 'js/color.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/sortable.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/fileinput.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/es.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/theme-explorer.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/theme-fa.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/user.js' %}" type="text/javascript" charset="utf-8" async defer></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDb7-Zr1I6gu-atzwNkM-5j6bZzXLfkp_I&libraries=visualization"></script>
        <script src="{% static 'js/heatmap.js' %}"></script>
        <script src="{% static 'js/gmaps-heatmap.js' %}"></script>
    </body>
</html>
