{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Desalination analytics</title>
    </head>
    <header>
        <div id="div-head">
            <div id="header">
                <IMG id="logo" src="{% static 'images/logo-acciona.png' %}"></IMG>
                <div id="navigation">
                    <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        <h4 id="title-plants-user">Select plant: </h4>
                        <div class="dropdown" id="div-plants-user">
                            <a class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Plants <span class="caret"></span></a>
                            <div class="dropdown-menu">
                                {% for a in plants %}
                                <li><button class="button-list-user" type="submit" name="plants" value="{{ a }}">{{ a }}</button></li>
                                {% endfor %}
                            </div>
                        </div>
                    </form>
                </div>
                <h3 id="title-page-user">DATA ANALYTICS SYSTEM FOR WATER DESALINATION PLANTS</h3>
                <h4 id="title-name-plant-user">{{ namePlant }}</h4>
            </div>
        </div>
    </header>
    <body>
        <div id="div-body">
            <p>To do: Fix Server Error (500).
                <br>
                To do: Move database to Azure CosmosDB.
                <br>
                To do: Move server to Azure App Service.
                <br>
                To do: Arrange all widgets as a dashboard.
                <br>
                To do: Make design to be web responsive.
                <br>
                To do: Add Umm Al Houl (UHP)
            </p>
            <div id="div-date-user">
                <h4 id="text-date-user">Enter date: </h4>
                <div class="container" id="start-container-user">
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <div class='input-group date' id='map-time-picker'>
                                    <input type='text' name="date" class="form-control" id="date-user" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="button-date-user" class="btn btn-info btn-md">Show</button>
            </div>
            <h3 id="title-map-user">Satellite analytics (exogenous variables)</h3>
            <br>
            <h4 id="text-exogenous-user">Select variable: </h4>
            <div class="dropdown" id="div-button-exogenous-user">
                <a id="table-button-exogenous-user" class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{ exogenousVariables.0 }} <span class="caret"></span></a>
                <div class="dropdown-menu">
                    {% for b in exogenousVariables %}
                    <li><button id="button-exogenous-user" class="button-list-user" name="exogenousVariables"  value="{{ b }}" onclick="drawMap(value);">{{ b }}</button></li>
                    {% endfor %}
                </div>
            </div>
            <br>
            <h4 id="title-map2-user">Satellite map</h4>
            <p>
                To do: Add all satellite variables. 
                <br>
                To do: Lighten the map load. 
                <br>
                To do: Change map style to tiles corresponding to sea regions.
                <br>
                To do: Fix the legend to have always the same range for each variable (defined by minimum
                and maximum of data).
                <br>
                To do: Display an error message if there is some problem when accessing the database.
                <br>
            </p>
            <div id="div-map-user">
                <div id="div-map-legend-user">
                    <div id="map-user" class="container"></div>
                    <div id="div-legend-user">
                        <h6 id="legend-end-user"></h6>
                        <div id="legend-user">
                            <div id="legendGradient-user"></div>
                        </div>
                        <h6 id="legend-ini-user"></h6>
                    </div>
                </div>
            </div>
            <h4 id="title-statistics-user">Map statistics</h4>
            <p> 
                To do: Add analytics of different sea regions.
                <br>
                To do: Use different colors to indicate the quartiles (Q1 and Q4 in red and Q2 and Q3 in green).
                <br>
                To do: Add more information about date availability, correlations, etc.
                <br>
                To do: Connect the icon to the server and download satellite data analytics.
            </p>
            <div id="div-map-user">
                <div id="div-statistics-user">
                    <br>
                    <div id="div-statistics2-user">
                        <table id="table-data-exogenous" class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th NOWRAP>Minimum</th>
                                    <th NOWRAP>Maximum</th>
                                    <th NOWRAP>Average</th>
                                    <th NOWRAP>Standard deviation</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for c in statistics %}
                                    <tr>
                                        <th NOWRAP>{{ c.0 }}</th>
                                        <td id="min{{ c.5 }}" NOWRAP style="text-align: right;">{{ c.1 }}</td>
                                        <td id="max{{ c.5 }}" NOWRAP style="text-align: right;">{{ c.2 }}</td>
                                        <td id="avg{{ c.5 }}" NOWRAP style="text-align: right;">{{ c.3 }}</td>
                                        <td id="std{{ c.5 }}" NOWRAP style="text-align: right;">{{ c.4 }}</td>
                                    </tr>
                                {% endfor %}
                               <!-- <tr>
                                    <th></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><a href="exogenous.html" target="_blank">more info</a></td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <button id="button-download-statistics-user" class="btn btn-info btn-md" onclick="download('statistics')">Download <span class="glyphicon glyphicon-download-alt" aria-hidden="true" style="text-align: right;"></span></button>
            </div>
            <h3 id="title-graph-user">Plant analytics (endogenous variables)</h3>
            <p>
                To do: Add more information about date availability, correlations, etc.
                <br>
                To do: Add an icon to download de satellite data analytics
            </p>
            <br>
            <h4 id="text-endogenous-user">Select variable: </h4>
            <div class="btn-group" class="container" id="div-button-endogenous-user">
                <button id="table-button-endogenous-user" class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ endogenousVariables.0 }} <span class="caret"></span></button>
                <div class="dropdown-menu">
                    {% for d in endogenousVariables %}
                    <li><button class="button-list-user" name="endogenousVariables" value="{{ d }}" onclick="drawGraph(value);">{{ d }}</button></li>
                    {% endfor %}
                </div>
            </div>
            <p>
                To do: Fit the prediction chart with the date selected by the user.
                <br>
                To do: If the selected dates have passed write a line with the recorded data and another one
                with the predicted data. 
            </p>
            <br>
            <h4 id="title-graph2-user" NOWRAP>Plant records</h4>
            <p>
                To do: Add dates in X axis.
                <br>
                To do: Add name and units of variable in Y axis.
                <br>
                To do: Add lines to define the median, and second and third quartiles.
            </p>
            <div id="div-graph-user">
                <div id="graph-user" class="container"></div>
            </div>
            <!--<h4 id="title-prediction-user" NOWRAP>Neural network predictions</h4> -->
            <h3 id="predictive-user">Predictive analytics (exogenous/endogenous variables)</h3>
            <p>
                To do: Fit this table with the date selected by the user
                <br>
                To do: Add an error value for each prediction day. 
            </p>
            <div id="div-prediction-user">
                <div id="div-prediction2-user">
                    <table id="table-prediction-user" class="table">
                        <thead>
                            <tr>
                                <th></th>
                                {% for e in date %}
                                    <th>{{ e }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for f in prediction %}
                                <tr>
                                    {% for g in f %}
                                        {% if forloop.first %}
                                            <th NOWRAP>{{ g }}</th>
                                        {% else %}
                                            <td NOWRAP style="text-align: right;">{{ g }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                           <!-- <tr>
                                <th NOWRAP></th>
                                <td NOWRAP></td>
                                <td NOWRAP></td>
                                <td NOWRAP></td>
                                <td NOWRAP><a href="endogenous.html" target="_blank">more info</a></td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <button id="button-download-prediction-user" class="btn btn-info btn-md" onclick="download('prediction')">Download <span class="glyphicon glyphicon-download-alt" aria-hidden="true" style="text-align: right;"></span></button>
            </div>
            <br>
            <br>
            <br>
        </div>
        <link href="{% static 'css/css.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css" rel="stylesheet"/>
        <link href="{% static 'css/fileinput.css' %}" media="all" rel="stylesheet" type="text/css"/>
        <link href="{% static 'css/theme.css' %}" media="all" rel="stylesheet" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="{% static 'js/DjangoAjax.js' %}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js" type="text/javascript"></script>
        <script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="{% static 'js/sortable.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/fileinput.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/es.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/theme-explorer.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/theme-fa.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/user.js' %}" type="text/javascript" charset="utf-8" async defer></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDb7-Zr1I6gu-atzwNkM-5j6bZzXLfkp_I&libraries=visualization"></script>
        <script src="{% static 'js/heatmap.js' %}"></script>
        <script src="{% static 'js/gmaps-heatmap.js' %}"></script>
    </body>
</html>