#header {
    width: 100%;
}

#div-body {
    margin-left: 1%;
}

#div-head {
    margin-left: 1%;
}

#logo {
    display: inline-block;
    width: 120px;
    vertical-align: top;
    margin-top: 1%;
    margin-left: 1%;
}

#arrow-green {
    position: absolute;
    height: 15%;
    width: 4%;
}

#arrow-red {
    position: absolute;
    height: 15%;
    width: 4%;
}

#calendar {
    position: absolute;
    width: 3%;
    top: 15%;
    left: 34%;
}

#title-page {
    position: absolute;
    top: 8%;
    width: 100%;
    text-align: center; 
    background-color: #fff;
    font-family: 'Roboto','sans-serif';
}

#user {
    position: absolute;
    right: 3%;
    top: 2%;
}

#navigation {
    display: inline-block;
    margin-left: 69%;
    margin-top: 1%;
    width: 20%;
    vertical-align: top;
}

#tablePlants {
    display: inline-block;
}

#title-map {
    position: absolute;
    top: 15%;
    left: 23%;
}

#legend-ini {
    position: absolute;
    left: 61%;
    top: 55%;
}

#legend-end {
    position: absolute;
    left: 61%;
    top: 20%;
}

#legend {
    position: absolute;
    height: 30%;
    width: 10%;
    left: 61%;
    top: 25%;
}

#legendGradient {
    width: 10%;
    height: 100%;
    border: 1px solid black;
}

#variable-endogenous {
    
}

#title-exogenous {
    position: absolute;
    top: 15%;
    left: 2%;
}

#table-exogenous {
    position: absolute;
    top: 22%;
    left: 2%;
    width: 15%;
    font-size: 10px;
}

#title-statistics {

}

#title-endogenous {
    position: absolute;
    top: 61%;
    left: 2%;
}

#table-endogenous {
    position: absolute;
    top: 70%;
    left: 2%;
    width: 10%;
    font-size: 10px;
}

#table-data-endogenous {
    position: absolute;
    top: 70%;
    left: 13%;
    width: 10%;
    font-size: 8px;
}

#graphics {
    max-width: 100%;
    height:34%;
    width:45%;
    position: absolute;
    left: 19%;
    top: 65%;
}

#title-prediction {
    position: absolute;
    top: 61%;
    left: 66%;
}

#table-prediction {
    position: absolute;
    top: 68%;
    left: 66%;
    width: 30%;
    font-size: 4px;
}
    
#up-data {
    
}
    
#date-prediction {
    
}

#info-variable {
    
}
    
#data-result {
    
}

#graph {
    
}

#endogenous {
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
}

#exogenous {
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
}

#table-endogenous-relation {
    position: absolute;
    top: 30%;

}

#map-exogenous {
    position: absolute;
    height: 40%;
    width: 35%;
    top: 30%;
    left: 2%; 
}

#title-endogenous-admin {
    position: absolute;
    top: 50%;
    left: 2%;
}

#table-endogenous-admin {
    position: absolute;
    top: 58%;
    left: 2%;
    width: 45%;
    font-size: 10px;
}

#title-exogenous-admin {
    position: absolute;
    top: 50%;
    left: 50%;
}

#table-exogenous-admin {
    position: absolute;
    top: 58%;
    left: 50%;
    width: 45%;
    font-size: 10px;
}

#title-general-admin {
    position: absolute;
    top: 15%;
    left: 2%;
}

#table-general-admin {
    position: absolute;
    top: 25%;
    left: 2%;
    width: 25%;
    font-size: 10px
}

#title-map-admin {
    position: absolute;
    top: 15%;
    right: 30%;
}

#map-admin {
    position: absolute;
    height: 20%;
    width: 40%;
    top: 25%;
    right: 2%; 
}

#button-new {
    position: absolute;
    top: 90%;
    left: 10%;
    height: 5%;
    width: 10%;
}

#button-modify {
    position: absolute;
    top: 90%;
    left: 25%;
    height: 5%;
    width: 10%;
}

#general-acquisition {
    position: absolute;
    top: 15%;
    left: 0%;
    width: 100%;
    height: 80%;
}

#general-title-adquisition {
    position: absolute;
    top: 0%;
    left: 2%;
    font-weight: 1000;
}

#general-plant-acquisition {
    position: absolute;
    top: 10%;
    left: 2%;
    width: 50%;
    height: 80%;
}

#point-plant-acquisition {
    position: absolute;
    top: 0%;
    left: 25%;
    width: 100%;
    height: 80%;
}

#study-coordinate-acquisition {
    position: absolute;
    top: 60%;
    left: 2%;
    width: 50%;
    height: 100%;
}

#general-title-data-adquisition {
    position: absolute;
    top: 50%;
    left: 2%;
    font-weight: 1000;
}

#endogenous-general-adquisition {
    position: absolute;
    top: 200%;
    left: 0%;
    width: 100%;
    height: 20%;
}

#endogenous-acquisition {
    position: absolute;
    top: 0%;
    left: 2%;
}

#file-acquisition {
    position: absolute;
    top: 20%;
    left: 2%;
}

#upload-acquisition {
    position: absolute;
    top: 40%;
    left: 2%;
    width: 30%;
} 

#button-upload-acquisition {
    position: absolute;
    top: 220%;
    right: 20%;
}

#button-prepare-acquisition {
    position: absolute;
    top: 80%;
    left: 40%;
}

#button-train-acquisition {
    position: absolute;
    top: 80%;
    right: 40%;
}

#exogenous-acquisition {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 80%;
    height: 70%;
}

#exogenous-modis-acquisition {
    position: absolute;
    top: 10%;
    left: 2%;
    width: 30%;
}

#modis-acquisition {
    position: absolute;
    top: 0%;
    left: 2%;
}

#exogenous-sentinel-acquisition {
    position: absolute;
    top: 10%;
    left: 60%;
    width: 30%;
}

#sentinel-acquisition {
    position: absolute;
    top: 0%;
    left: 60%;
}

#time-acquisition {
    position: absolute;
    top: 85%;
    left: 0%;
    width: 40%;
    height: 30%;
}

#start-time-acquisition {
    position: absolute;
    top: 0%;
    left: 2%;
}

#start-container-acquisition {
    position: absolute;
    top: 20%;
    left: 2%;
    width: 100%;
}

#days-time-acquisition {
    position: absolute;
    top: 0%;
    left: 70%;
}

#days-container-acquisition {
    position: absolute;
    top: 20%;
    left: 70%;
    width: 50%;
}

#div-mail-acquisition {
    position: absolute;
    top: 35%;
    left: 0%;
    width: 100%;
}

#div-map-datapreparation {
    height: 40%;
    width: 35%;
}

#map-datapreparation {
    height: 100%;
    width: 100%;
}

#title-page-user{
    margin: 0% auto;
    width: 100%;
    text-align: center; 
    background-color: #fff;
    font-family: 'Roboto','sans-serif';
    
}

#div-map-user {
    margin-left: 25%;
    margin-top: 0%;
    width: 50%;
}

#start-container-user {
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
    margin-top: 0%;
    width: 180px;
} 

#date-user {
    
}

#map-time-picker{
    width: 150px;
}

#button-date-user {
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
    margin-top: 0%;
    width: auto;
}

#div-map-legend-user {
    margin-left: 1%;
    margin-top: 0%;
    width: 100%;
}

#map-user {
    display: inline-block;
    vertical-align: top;
    margin-left: 0%;
    margin-top: 2%;
    width: 600px;
    height: 400px;
}

#div-legend-user {
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
    margin-top: 2%;
    width: 2%; 
}

#legend-ini-user {
    margin-left: 1%;
    margin-top: 2%;
}

#legend-end-user {
    margin-left: 1%;
    margin-top: 1%;
}

#legend-user {
    margin-left: 1%;
    margin-top: 1%;
    height: 50%;
    width: 10%;
}

#legendGradient-user {
    width: 10px;
    height: 340px;
    border: 1px solid black;
}

#div-statistics-user {
    margin-left: 1%;
    margin-top: 0%;
    width: 25%;
    height: 40%;
}

#title-statistics-user {
    margin-left: 1%;
    margin-top: 0%;
}

#div-statistics2-user {
    margin-left: 1%;
    margin-top: 0%;
    height: 50%;
    width: 50%;
}

#table-data-exogenous {
    margin-left: 1%;
    margin-top: 0%;
    height: 50%;
    font-size: 10px;
}

#div-graph-user {
    margin-left: 25%;
    margin-top: 0%;
    height: 40%;
    width: 45%;
}

#graph-user {
    margin-left: 1%;
    margin-top: 0%;
    height: 50%;
    width: 50%;
}

#div-prediction-user {
    margin-left: 30%;
    margin-top: 0%;
    width: 45%;
    height: 40%;
}

#title-prediction-user {
    margin-left: 1%;
    margin-top: 0%;
    width: auto;
}

#div-prediction2-user {
    margin-left: 1%;
    margin-top: 0%;
    height: 50%;
    width: 50%;
}

#table-prediction-user {
    margin-left: 1%;
    margin-top: 0%;
    height: 50%;
    font-size: 10px;
}

#div-date-user {
    margin-left: 1%;
    margin-top: 3%;
    width: 50%;
}

.button-list-user{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    text-align: left;
}

#text-date-user{
    display: inline-block;
    margin-left: 1%;
    margin-top: 1%;
    vertical-align: top;
    width: auto;
}

#div-button-exogenous-user {
    display: inline-block;
    margin-left: 1%;
    margin-top: 0%;
    width: auto;
}

#div-button-endogenous-user {
    display: inline-block;
    margin-left: 1%;
    margin-top: 0%;
    width: auto;
}

#text-endogenous-user {
    display: inline-block;
    margin-left: 1%;
    margin-top: 0.5%;
    vertical-align: top;
    width: auto;
}

#text-exogenous-user {
    display: inline-block;
    margin-left: 1%;
    margin-top: 0.5%;
    vertical-align: top;
    width: auto;
}

#button-exogenous-user {
    width: 250px;
}

#table-button-exogenous-user {
   
}

#title-map-user {
    margin-left: 1%;
    width: auto;
}

#title-graph-user {
    margin-left: 1%;
    width: auto;
}

#title-map2-user {
    margin-left: 1%;
}

#title-graph2-user {
    margin-left: 1%;
}

#title-name-plant-user {
    margin: 0% auto;
    width: 100%;
    text-align: center; 
    background-color: #fff;
    font-family: 'Roboto','sans-serif';
}

#div-plants-user {
    display: inline-block;
    margin-left: 1%;
    margin-top: 0%;
    width: auto;
}

#title-plants-user {
    display: inline-block;
    margin-left: 1%;
    margin-top: 1%;
    vertical-align: top;
    width: auto;
}

#predictive-user {
    margin-left: 1%;
    margin-top: 1%;
    vertical-align: top;
    width: auto; 
}
